<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <div class="container-fluid primary-bg-color py-4 mb-3">
      <div class="container pt-5">
        <header class="text-center">
          <h1>
            <a href="{{ "/" | relative_url }}">
              Faire Rougarou
            </a>
          </h1>
          <h2 class="text-body-secondary">Strong opinions held loosely.</h2>
          <h2 class="text-body-secondary">Contrarian by nature.</h2>
          <h2 class="text-body-secondary">Humanist by choice.</h2>
        </header>
      </div>
    </div>    

    {{ content }}
    
    <div class="container-fluid  my-5">
      <div class="container border-top">
        <footer class="py-2 my-2">
          <p class="text-left text-body-secondary">
            © 2023 Company, Inc | subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
          </p>
        </footer>
      </div>
    </div>
    {%- include bootstrap-js.html -%}
  </body>

</html>
