---
layout: default
---

<div class="home">
  {%- if site.posts.size > 0 -%}
    <div class="post-list row">
      {%- for post in site.posts -%}
      <div class="col-12">
        {%- assign date_format = "%B %-d, %Y" -%}
        <h3 class="text-center">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div class="post-meta text-center">
          <span>{{ post.date | date: date_format | upcase }}</span>
          {%- if post.categories -%} 
            <span> | </span>
            {%- for category in post.categories -%}
              <a class="category-link" href="{{ "/categories/" | relative_url }}{{ category | slugify }}">{{ category | upcase }}</a>
              {%- if forloop.last == false -%}
                <span>, </span>
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
        {%- if site.show_excerpts -%}
          <span class="excerpt">
            {{ post.excerpt }}
          </span>
          <a class="btn btn-primary" href="{{ post.url | relative_url }}">
            Continue reading
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </a>
        {%- endif -%}
        {%- if forloop.last == false -%}<hr />{%- endif -%}
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
